<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About us</h2>
                <h3 class="col-lg-8 col-lg-offset-2 section-subheading">Loud and lively, energetic and dynamic - The Edinburgh Samba School (TESS) is a regular and popular feature of community festivals and special events in Edinburgh and elsewhere in Britain and Europe.</h3>
            </div>
        </div>
        <div class="row about-row">
            <div class="col-md-9 col-sm-9">
                <p>
                    From our humble beginnings in 1992 we have grown to become a loud and lively performance group specialising in authentic rhythms from the flamboyant Carnival culture of Brazil. <strong>Samba is the heartbeat of celebration, street parties, dance and fun</strong>                    - our aim is to promote Brazilian carnival culture throughout the UK and Europe.
                </p>
                <p>All funds raised by TESS are used to sustain the group's activities in the community - teaching, rehearsing, purchase and maintenance of instruments - as well as a variety of outreach projects.</p>

            </div>
            <div class="col-md-3 col-sm-3">
                <img class="img-circle img-responsive" src="img/lucia-samba-dancer.jpg" alt="Lucia samba dancer">

            </div>
        </div>

        <div class="row about-row">
            <div class="col-md-9 col-sm-9 col-md-push-3 col-sm-push-3">
                <p>TESS has performed at many high profile events in Edinburgh including the <strong>Murrayfield Rugby 7s</strong>, <strong>the Edinburgh Festival Cavalcade</strong>, <strong>the Jazz and Blues Festival Mardi Gras</strong>,
                    <strong>Edinburgh's Hogmanay</strong> and many more. We've also performed further afield, including in the <strong>Tenerife Carnival (the largest outside Rio!)</strong>, <strong>Amsterdam's King's Day</strong>, and the <strong>Fête de la Musique in Paris</strong>.</p>
                <p>We also drum and dance for street festivals, private parties, community or corporate events, club gigs - anything that requires a loud party atmosphere.</p>
                <p><a href="#hire" class="page-scroll btn btn-primary btn-sm">Hire us</a></p>
            </div>
            <div class="col-md-3 col-sm-3 col-md-pull-9 col-sm-pull-9">
                <img class="img-circle img-responsive" src="img/tess-tenerife-carnival.jpg" alt="TESS at the Tenerife Carnival 2014">
            </div>
        </div>

        <div class="row about-row">

            <div class="col-md-9 col-sm-9">
                <p>TESS runs regular <a href="#drum" class="page-scroll">percussion</a> and <a href="#dance" class="page-scroll">dance</a> courses for anyone who is interested in performing with us or fancies giving it a try. It’s great fun! There are plenty
                    of other ways to get involved too.</p>
                <p>If you'd like to see more of us in action, take a look at our <a href="https://www.facebook.com/edinburghsambaschool/photos" target="_blank">Facebook gallery</a> and <a href="https://www.youtube.com/user/tessvideo" target="_blank">Youtube channel</a>.</p>
                <p><a href="#drum" class="page-scroll btn btn-primary btn-sm">Drumming courses</a> <a href="#dance" class="page-scroll btn btn-primary btn-sm">Dancing courses</a></p>
            </div>
            <div class="col-md-3 col-sm-3">
                <img class="img-circle img-responsive" src="img/samba-drumming-tuition.jpg" alt="TESS samba drumming class">
            </div>

        </div>


    </div>
</section>
