<!-- Services Section -->
<section id="news" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News &amp; events</h2>
                <h3 class="section-subheading text-muted">Keep up to date with our gigs and courses</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">News and announcements</h4>
                <p>General news about the band.</p>
                <ul class="news"></ul>
                <p>You can also <a href="#mailinglist" class="page-scroll">sign up to our mailing list</a>.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                  </span>
                <h4 class="service-heading">Events and classes</h4>
                <p>Our gig and course calendar.</p>
                <ul id="eventlist"></ul>
                <p>
                  <a href="https://calendar.google.com/calendar/embed?src=c43urrkppf83iuu1at3la970ag%40group.calendar.google.com&ctz=Europe/London" target="_blank">View our full calendar</a>
                </p>
            </div>
        </div>
    </div>
</section>
